**/.git*
**/.husky
**/.next
**/.vscode
**/docker/services
**/node_modules
**/tests
**/var
**/vendor
**/*.md
**/*.neon
**/*.xml.dist
**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.gitignore
**/Dockerfile
**/compose.*
**/CODEOWNERS
**/LICENSE
**/next-env.d.ts