/* Déclaration des règles Tailwind CSS */
@import "tailwindcss";

/* Chargement des fichiers pour Hero UI */
@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

/* Déclaration des animations personnalisées */
@theme
{
	--animate-github: github 560ms ease-in-out;

	@keyframes github {
		0%,
		100% {
			transform: rotate(0);
		}
		20%,
		60% {
			transform: rotate(-25deg);
		}
		40%,
		80% {
			transform: rotate(10deg);
		}
	}
}

/* Sélection des textes */
::selection
{
	@apply bg-primary text-primary-foreground;
}

/* Barre de défilement du navigateur */
::-webkit-scrollbar
{
	/* Conteneur */
	@apply w-3;
}

::-webkit-scrollbar-track
{
	/* Chemin */
	@apply bg-default-400/10;
}

::-webkit-scrollbar-thumb
{
	/* Boutons haut/bas */
	@apply bg-primary hover:bg-primary/90;
}