**/.git*
**/.husky
**/logs
**/node_modules
**/tests
**/var
**/vendor
**/*.md
**/*.zip
**/*.vcl
**/*.neon
**/*.xml
**/*.xml.dist
**/*.config.*
**/.dockerignore
**/.editorconfig
**/.gitattributes
**/.gitignore
**/Dockerfile
**/compose.*
**/LICENSE
**/next-env.d.ts
!next.config.ts
!postcss.config.js
!tailwind.config.ts
