###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/logs/
/vendor/
/docker/postgres/database/
/docker/pgadmin/files/
/docker/redis/database/
###< symfony/framework-bundle ###